.section-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.section-content.show {
  max-height: 2000px;
}

/* GLOBAL STORY TEXT */
.story-text p {
  margin-bottom: 1.5rem;
  line-height: 1.8;
  text-align: justify;
}

.story-text p:last-child {
  margin-bottom: 0;
}

#storySelector {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 2rem;
  justify-content: center;
}


/* Quran Audio Player Styling */
.quran-audio-wrapper {
  background: #f6f3fb;
  border-radius: 999px;
  padding: 10px 14px;
}

.quran-audio {
  width: 100%;
  height: 36px;
}

/* Optional: soften native controls */
.quran-audio::-webkit-media-controls-panel {
  background-color: #f6f3fb;
}

.quran-audio::-webkit-media-controls-play-button,
.quran-audio::-webkit-media-controls-mute-button {
  filter: grayscale(20%);
}

.quran-audio-wrapper {
  margin-top: -6px; /* rapatkan dengan ayat */
}
